button {
  cursor: pointer;
  border: 2px solid #44444400;
  border-radius: var(--border-radius);
  background-color: var(--light-background);
  border: var(--border);
  color: var(--main-text-color);
  transition: var(--transition-time);
  padding: 5px;
  font-size: 25px;
}

button:hover {
  background-color: #496bbeb3;
}

button:active {
  scale: 1.1;
}

.Delete-Button {
  width: 40%;
  font-size: 50px;
}
