nav {
  display: flex;
  flex-direction: row;
  background-color: var(--main-color);
}

.Switch-Page {
  display: flex;
  align-items: center;
  margin: 5px 5px 5px 5px;
  padding: 5px;
  font-size: 1.2rem;
  text-decoration: none;
  color: #f5f7fa;
  border: 2px solid transparent;
  border-radius: var(--border-radius);
  transition: var(--transition-time);
}

.Active,
.Switch-Page:hover {
  border: 2px solid #f5f7fa;
  scale: 1.1;
}
