.Stats-Container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.Stat {
  background-color: var(--light-background);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  min-height: 100px;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .Stat {
    width: 90%;
  }
}

.Stat h2 {
  margin: 0;
}
