textarea {
  all: unset;
  text-align: left;
  width: 90%;
  height: 150px;
  font-size: 25px;
  line-height: 1.5;
  color: var(--main-text-color);
  background-color: var(--light-background);
  border: 3px solid rgb(73, 107, 190, 0);
  border-radius: var(--border-radius);
  transition: var(--transition-time);
  outline: none;
  resize: none;
}

textarea:focus {
  border: var(--border);
}

.Note {
  text-align: left;
  font-size: 25px;
  background-color: var(--light-background);
  border-radius: var(--border-radius);
  overflow-y: auto;
  width: 90%;
  height: fit-content;
  max-height: 300px;
  padding: 10px;
  white-space: pre-wrap;
}
