.Final-Score-Stats {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
}

.Final-Score-Stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.Final-Score-Stats table {
  border-collapse: collapse;
  width: 40%;
  background-color: var(--light-background);
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.1);
}

.Final-Score-Stats table th {
  padding: 15px;
  text-align: center;
}

.Final-Score-Stats table td {
  padding: 15px;
  text-align: center;
}
