:root {
  --main-color: #496bbe;
  --main-color-transparent: #496bbeb3;
  --background-color: #f5f7fa;
  --text-color: #444;
  --light-background: #496bbe1a;
  --border: 3px solid #496bbe1a;
  --border-radius: 3px;
  --transition-time: 500ms;
}

body {
  margin: 0;
  color: var(--text-color);
  background: var(--background-color);
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}

@viewport {
  width: device-width;
  zoom: 1;
}

a {
  color: var(--main-color);
  text-decoration: none;
}

hr {
  width: 80%;
  border-left: none;
  border-right: none;
  border-top-color: #444;
}

h1 {
  font-size: 50px;
  margin: 10px;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

.Score {
  padding-bottom: 10px;
}

.Sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}

.Selected {
  scale: 1.05;
}

.Container-Title {
  font-size: 2.5rem;
  margin: 10px;
}

.Vertical-Button-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.Special {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.Special .Horizontal-Container {
  margin: unset;
  width: 20%;
}

.Special .Horizontal-Container .Small-Button {
  max-width: 100%;
  width: 100%;
}

.Horizontal-Container {
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 80%;
}

.Vertical-Container {
  margin: 10px auto;
  width: 99%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Colored-Container {
  background-color: var(--light-background);
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.1);
  width: fit-content;
}

.Warning-Text {
  color: #c73f36;
}

