:root {
  --main-color: #496bbe;
  --main-color-transparent: #496bbeb3;
  --main-background-color: #f5f7fa;
  --main-text-color: #444;
  --accent-background-color: #496bbe;
  --light-background: #496bbe1a;
  --border: 3px solid #496bbe1a;
  --border-radius: 3px;
  --transition-time: 500ms;
}

body {
  margin: 0;
  color: var(--main-text-color);
  background: var(--main-background-color);
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}

@viewport {
  width: device-width;
  zoom: 1;
}

a {
  color: var(--main-color);
  text-decoration: none;
}

hr {
  width: 80%;
  border-left: none;
  border-right: none;
}

h1 {
  font-size: 50px;
  margin: 10px;
}

h2 {
  align-content: center;
  justify-content: center;
}

h3 {
  margin: 3px;
}

.Container {
  margin: 10px;
}

.Hidden {
  display: none;
}

.Visible {
  display: block;
}

.Selected {
  scale: 1.1;
}

input[type="text"] {
  font-family: inherit;
  text-align: center;
  all: unset;
  color: var(--main-text-color);
  width: 70%;
  background-color: var(--light-background);
  transition: var(--transition-time);
  padding: 5px;
  border-radius: var(--border-radius);
  border: 3px solid rgb(73, 107, 190, 0);
}

input[type="text"]:focus {
  border: var(--border);
}
