.Info-Bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.Switch-Game-Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Game-Count {
  margin: 5px;
}
