.Profile {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  gap: 10px;
  margin-bottom: 10px;
}

.Profile-Header {
  display: flex;
  flex-direction: row;
  justify-content: Center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background: var(--light-background);
  border-radius: var(--border-radius);
}

.Profile-Body {
  background-color: var(--light-background);
  border-radius: var(--border-radius);
}

.Stats-Container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.Stat {
  background-color: var(--light-background);
  border-radius: var(--border-radius);
  width: 30%;
}

.Account-Button {
  width: 30%;
}
